/* component : hero */
.hero {
  --hero-content-align-items: center;
  --hero-content-display: flex;
  --hero-content-flex-direction: column;
  --hero-content-gap: var(--size-16);
  --hero-content-justify-content: center;
  --hero-content-text-shadow: var(--text-shadow-close);
  --hero-content-position: absolute;
  --hero-content-inset: 0;

  margin-bottom: 100vh;
  position: relative;
}

.hero__content {
  background: linear-gradient(
    0deg, 
    rgba(var(--color-black), 1) 0%, 
    rgba(var(--color-black), 0) 100%
  );
  align-items: var(--hero-content-align-items);
  display: var(--hero-content-display);
  flex-direction: var(--hero-content-flex-direction);
  gap: var(--hero-content-gap);
  justify-content: var(--hero-content-justify-content);
  text-shadow: var(--hero-content-text-shadow);
  position: var(--hero-content-position);
  inset: var(--hero-content-inset);
}

.hero__logo {
  filter: drop-shadow(var(--box-shadow-close));
}