body {
  background: rgb(var(--color-black));
  color: rgb(var(--color-white));
  font-size: 16px;
}

/* structure : wrapper */
[wrapper] {
  --wrapper-padding: var(--size-32);
  --wrapper-max-width: 88rem; /* 1408 */

  margin-right: auto;
  margin-left: auto;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
  max-width: var(--wrapper-max-width);

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    --wrapper-padding: var(--size-24);
  }
  @media only screen and (max-width: 767px) {
    --wrapper-padding: var(--size-16);
  }

}